__Exercise 1__: Create a Jupyter Notebook

Answer: Done, please look at the name of this notebook.

__Exercise 2__: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

__Exercise 3__ - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized. Please take your time reviewing the content of the notebook.

__Exercise 4__ - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

__Exercise 5__ - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. NumPy
3. Pandas
4. Seaborn
5. Matplotlib

__Exercise 6__ - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|----|
|Git|
|Jupyter|
|R-Studio|

__Exercise 7__ - Create a markdown cell introducing arithmetic expression examples

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

__Exercise 8__ - Create a code cell to multiply and add numbers

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

__Exercise 9__ - Create a code cell to convert minutes to hours

In [8]:
# This will convert 200 minutes to hours by diving by 60. First creating variable with
# a result and than by printing it
x = 200/60
print(x)

3.3333333333333335

__Exercise 10__ - Insert a markdown cell to list Objectives

__Objectives:__
- Creating headlines
- Using Markdowns
- Coding
- Doing basic calculations
- Other Jupyter notebooks features

__Exercise 11__ - Create a markdown cell to indicate the Author's name

## Author
Marcin Wnykowicz